.entity-avatar{
  margin:10px 15px;
}
.nvd3 text {
  font: normal 12px Roboto, 'Helvetica Neue', sans-serif;
}
.align-right {
  text-align: right
}

.filter-icon {
  filter: grayscale(60%);
}
.plain-link{
  text-decoration: none;
  color:black;
  font-weight:bold;
}
.small-list md-list-item {
  padding: 0;
}

.small-list .md-avatar {
  width: 25px;
  height: 25px;
  margin: 6px 12px 5px 0;
  padding: 0px;
  min-width: 25px;
  min-height: 25px;
}

.small-list .md-avatar::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin: 1px auto;
  background-color: white;
}

.small-list .md-avatar.selected::after {
  display: none;
}

.small-list p {
  font-size: 14px;
}

.graph-list md-list-item{
  position: relative;
  background-color: none;
}

.graph-list md-list-item div{
  position: relative;
  z-index: 1;
}
.graph-list md-list-item .bar{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #AA3939;
  content:'';
  display: block;
  opacity: .6;

}
