  <!--FOOTER-->
  <div id="footer" ng-cloak>
    <div class="footer-social-bar">
      <div class="container container-lg center-content ">
        <p>Compartir este artículo en:</p>
        <p>
          <a ng-click="vm.shareIn('gplus')" href="#"><i class="icon-gplus"></i></a>
          <a  ng-click="vm.shareIn('facebook')" href="#"><i class="icon-fb"></i></a>
          <a  ng-click="vm.shareIn('twitter')" href="#"><i class="icon-tw"></i></a>
          <a href="#"><i class="icon-insta"></i></a>
        </p>
      </div>
    </div>
    <div class="padding-top" layout="row" layout-sm="column" layout-align="center">
      <img src="/images/logo1.jpg">
      <img src="/images/logo2.jpg">
    </div>
    <div class="container container-lg center-content">
      <p>2016 <a href="#">Aviso de privacidad</a>, <a href="#">Metodología</a> | <strong>Creado por <a href="http://spaceshiplabs.com" target="_blank">Spaceshiplabs</a></strong></p>
    </div>
  </div>
