<div class="entity-view">
  <div class="entity-header">
    <div class="container container-xlg" layout="row" layout-align="space-between center">
      <h1 flex><a href="#/"><strong>DEUDA</strong><span>MX<span></a></h1>
      <img src="images/logo.png" alt="">
    </div>
  </div>
  <div class="entity-image">
    <div>
      <h1>{{vm.entity.name}}</h1>
      <hr>
      <h2><strong>{{vm.entity.balance | currency}} MDP</strong></h2>
      <h3><span>EN DEUDA</span></h3>
      <div class="entity-image-data">
        <p>Deuda per cápita | <strong>{{vm.entity.balancePerCapita | currency }}</strong></p>
        <p>Porcentaje del PIBE | <strong>{{vm.entity.balancegdp | number : 2}} %</strong></p>
        <p>Porcentaje del ingreso comprometido | <strong>{{vm.commited[vm.entity.name] | number : 2}} %</strong></p>
      </div>
    </div>
  </div>
  <!-- Gráfica -->
  <section class="entity-view-content" layout="row" layout-wrap>
    <div flex="40" flex-sm="100" class="entity-view-left">
      <md-list class='graph-list' ng-show='vm.entity'>
        <md-subheader class="md-no-sticky hl-text">Administraciones</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="(key,admon) in vm.administrations | orderBy:'-start'">
          <img class="md-avatar" ng-src='{{admon.local_picture || "pictures/placeholder.png"}}'>
          <div class="md-list-item-text">
            <h3><strong>{{ admon.governor }}</strong></h3>
            <h4>{{ admon.start | date }} - {{ admon.end | date }}</h4>
            <!--
            <p class="italic-text"><strong>Incremento la deuda por {{ admon.stats.entityStats.delta.debt * 1000000 | mdp}} </strong></p> -->
            <p>
              <span ng-if='admon.deltaDebt > 0'>Incrementó</span>
              <span ng-if='admon.deltaDebt < 0'>Disminuyó</span> la deuda aproximadamente:
            </p>
            <div class="bar-wrapper">
              <div class='bar' ng-style='vm.getAdministrationStyle(admon,key)'></div>
              <p><strong>{{admon.deltaDebt | currency }}</strong> MDP.</p>
            </div>
            <p><strong>{{admon.deltaDebtPerCapita | currency}}</strong> pesos por persona.</br>
              <p><strong>{{admon.deltaDebtgdp | number : 2}}% </strong> del PIBE.</p>
              <!-- <p> <strong>{{ admon.stats.obStats.count }}</strong> creditos por un total de <strong>{{ admon.stats.obStats.sum | mdp }}</strong></p>
              <p>aún se debe <strong> {{ admon.stats.obStats.balance | mdp }} </strong></p> -->
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex-gt-md="60" flex="100" class="entity-view-right">
      <!--
      <div class="entity-view-main" ng-show='vm.entity' hide-gt-md>
        <h2 class="hl-text">{{vm.entity.balance | currency}} MDP en deuda</h2>
        <h3>Deuda Per Capita: <strong>{{vm.entity.balancePerCapita | currency }}</strong></h3>
      </div>
    -->
      <div layout-fill class="detailed-list">
        <div class="center-content">
          <h1 class="hl-text">Histórico <span>de Deuda</span></h1>
          <div class="container-md container description-txt">
            <p>La siguiente gráfica muestra el <strong>histórico de la deuda en {{vm.entity.name}}</strong> representada por la <span class="hl-text2">linea sólida azul</span>. </p>
            <p>Las barras representan <strong>la suma de los créditos contratados cada año</strong> según el registro de obligaciones y empréstitos. </p>
          </div>
        </div>
        <nvd3 flex options="vm.multyChartServiceOptions" data="vm.formatEntity" api='vm.api'></nvd3>
        <graph-images data="vm.graphImages"></graph-images>
      </div>
    </div>
  </section>

  <!-- Textos individuales -->
  <ng-include src="'views/qroo.html'" ng-if="vm.entity.name == 'Quintana Roo' " ></ng-include>
  <ng-include src="'views/coahuila.html'" ng-if="vm.entity.name == 'Coahuila' " ></ng-include>

  <!-- Emprestitos -->
  <section class="entity-view-content" layout="row" layout-wrap>
    <div flex="100" layout="row" layout-align="center start" layout-wrap>
      <div class="entity-table-title" flex="100">
        <!--
        <h1>Registro de Obligaciones y Emprésitos Vigente de Entidades, Municipios y sus Organismos <span></span></h1>
        <h1>LISTA DETALLADA | <span>Lorem Ipsum</span></h1>-->
        <h1>Registro de Obligaciones y Empréstitos Vigente</h1>
        <h2>de entidades, municipios y sus organismos</h2>
      </div>
      <md-data-table-container ng-show='vm.obligations' class="entity-table" flex="80">
        <table class="entity-view-table" md-data-table md-progress="deferred">
          <thead md-order="vm.query.order" md-trigger="onOrderChange">
            <tr>
              <th name="Acreditado" order-by="acredited">
                <!--<i class="material-icons">place</i>-->
              </th>
              <th name="Acreedor" order-by="creditor">
                <!--<i class="material-icons">account_circle</i>-->
              </th>
              <th name="Destino" order-by="destination">
                <!--<i class="material-icons">arrow_downward</i>-->
              </th>
              <th name="Fecha de Firma" order-by="signDate">
                <!--<i class="material-icons">border_color</i>-->
              </th>
              <th name="Monto" unit="$" order-by="ammount">
                <!--<i class="material-icons">credit_card</i>-->
              </th>
              <th name="Saldo" unit="$" order-by="balance">
                <!--<i class="material-icons">monetization_on</i>-->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obligation in vm.obligations | orderBy:vm.query.order">
              <td>{{obligation.acredited}}</td>
              <td>{{obligation.creditor}}</td>
              <td>{{obligation.destination}}</td>
              <td>{{obligation.signDate | date}}</td>
              <td>{{obligation.ammount | mdp}}</td>
              <td>{{obligation.balance | mdp}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </div>
  </section>

</div>
<ng-include src="'views/partials/footer.html'"></ng-include>
