<div flex='100' layout-padding layout='row'>
  <div flex='75' layout='column'>
    <h1>La deuda sub-nacional en México</h1>
    <h2>{{vm.chartService.modes[vm.chartService.mode].name}} - {{vm.chartService.states[vm.chartService.state].name}}</h2>
    <div>
      <md-button ng-repeat='(key,mode) in vm.chartService.modes' ng-click='vm.changeMode(key)' class="md-icon-button" aria-label="{{mode.name}}" ng-disabled='key === vm.chartService.mode'>
        <md-tooltip md-direction="top">
          {{mode.name}}
        </md-tooltip>
        <ng-md-icon icon="{{mode.icon}}"></ng-md-icon>
      </md-button>
      |
      <md-button ng-repeat='(key,state) in vm.chartService.states' ng-click='vm.chartService.state = key;vm.setChartState(state.style)' class="md-icon-button" aria-label="{{state.name}}" ng-disabled='key === vm.chartService.state'>
        <md-tooltip md-direction="top">
          {{state.name}}
        </md-tooltip>
        <ng-md-icon icon="{{state.icon}}"></ng-md-icon>
      </md-button>
    </div>
    <nvd3 layout-fill flex options="vm.stackedArea" data="vm.selectedEntities" api='vm.api' on-ready="vm.chartCallback"></nvd3>
  </div>
  <md-content layout='column' flex='25'>
    <md-list class='small-list' flex>
      <md-list-item>
        <div class="md-avatar md-whiteframe-1dp" style='background-color:#eee' ng-click='vm.toggleAll()' ng-class='vm.stackedSelected ? "selected" : ""' aria-label='Toggle all'></div>
        <p>
          <md-button ng-click='vm.toggleSort("key")'>Entidad</md-button>
        </p>
        <p class='align-right'>
          <md-button ng-click='vm.toggleSort(vm.chartService.modes[vm.chartService.mode].sort)'>{{vm.chartService.modes[vm.chartService.mode].label}}</md-button>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-repeat='entity in vm.dataset  | orderBy:vm.tableSortOrder+vm.tableSort'>
        <div class="md-avatar md-whiteframe-1dp" style='background-color:{{entity.color}}' ng-click='vm.toggleOne(entity)' ng-class='entity.selected ? "selected" : ""' aria-label='entity.key' ng-dblclick='vm.viewOne(entity)'></div>
        <p><a ng-href='/#/entidad/{{entity.key | urlEncode}}' class='plain-link'>{{ entity.key }}</a></p>
        <p class='align-right'>{{ vm.tableFigure(entity) }}</p>
      </md-list-item>
    </md-list>
  </md-content>
</div>
