<section class="banner-main">
  <div class="banner-main-bg" ng-style="style('firstScreen')" full-screen-wrapper>
    <video src="images/video-loop.webm" autoplay loop></video>
  </div>
  <div class="banner-main-text">
    <div class="social-bar">
      <p>
        <a ng-click="vm.shareIn('gplus')" href="">
          <i class="icon-gplus"></i>
        </a>
        <a ng-click="vm.shareIn('facebook')" href="">
          <i class="icon-fb"></i>
        </a>
        <a ng-click="vm.shareIn('twitter')" href="">
          <i class="icon-tw"></i>
        </a>
        <a href="#"><i class="icon-insta"></i></a>
      </p>
    </div>
    <h1>La deuda <strong>sub-nacional</strong></h1>
    <h1 class="banner-main-text-big"><strong>En México</strong></h1>
    <p class="bottom-text">Conoce cómo y cuánto han endeudado los gobernadores a sus estados</p>
  </div>
  <div class="banner-main-layer"></div>
  <a ng-click="vm.scrollTo('second-block', $event)" href="#" class="banner-arrow-down"><i class="icon-scroll"></i></a>
</section>
<!--
<p class="copy-video-banner"><strong>Video: Lorem Ipsum dolor sit amet.</strong></p> -->
<section id="second-block" class="content-block">
  <div class="container container-lg">
    <h1 class="main-title">Los archivos de la Deuda <strong class="italic">Investigación Interactiva</strong></h1>
    <div layout="row" layout-wrap layout-align="space-between">
      <div flex="45" flex-md="100" flex-sm="100" class="text-content">
        <p>Después de la crisis financiera del 2008 los gobiernos estatales han incrementado su deuda desenfrenadamente al punto de que 4 entidades tienen casi la totalidad de sus ingresos comprometidos en pagar la deuda.</p>
        <p>Según la información pública disponible en el sitio de transparencia presupuestaria, Quintana Roo, Coahuila, Nuevo León y Chihuahua tienen finanzas poco sólidas al estar casi la totalidad de sus ingresos comprometidos en pagar deuda.</p>
        <p>Estas entidades también encabezan la lista de las entidades con mayor deuda por poblador.</p>
      </div>
      <div flex="45" flex-md="100" flex-sm="100" class="text-content">
        <p>En Quintana Roo, el estado con mayor deuda por persona, el 97% de los ingresos estatales están comprometidos hacia el pago de la deuda, en Coahuila se debe el 103%, en Nuevo león 93.8% y en Chihuahua se debe el 82.5% del ingreso.</p>
        <p>Después de la crisis del ‘94 los gobiernos estatales vieron un crecimiento de sus deudas con respecto al producto interno bruto estatal. Sin embargo en los años posteriores las deudas estatales con respecto al PIBE bajaron hasta finalmente estabilizarse en el 2000. Esto no ha ocurrido después de la deuda del 2008 y al contrario la deuda sub-estatal no ha dejado de incrementar.</p>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="content-block content-block-alt chart-block">
  <div class="container container-xlg">
    <div layout='row' layout-wrap>
      <div flex='75' flex-md="100" flex-sm="100" class="chart-container">
        <div layout="row" layout-wrap layout-align="space-between center">
          <h2 flex-sm="100" flex-xs="100">{{vm.chartService.modes[vm.chartService.mode].name}} - {{vm.chartService.states[vm.chartService.state].name}}</h2>
          <div flex-sm="100" flex-xs="100">
            <md-button ng-repeat='(key,mode) in vm.chartService.modes' ng-click='vm.changeMode(key)' class="md-icon-button" aria-label="{{mode.name}}" ng-disabled='key === vm.chartService.mode'>
              <md-tooltip md-direction="top">
                {{mode.name}}
              </md-tooltip>
              <ng-md-icon icon="{{mode.icon}}"></ng-md-icon>
            </md-button>
            |
            <md-button ng-repeat='(key,state) in vm.chartService.states' ng-click='vm.chartService.state = key;vm.setChartState(state.style)' class="md-icon-button" aria-label="{{state.name}}" ng-disabled='key === vm.chartService.state'>
              <md-tooltip md-direction="top">
                {{state.name}}
              </md-tooltip>
              <ng-md-icon icon="{{state.icon}}"></ng-md-icon>
            </md-button>
          </div>
        </div>
        <nvd3 layout-fill flex options="vm.stackedArea" data="vm.selectedEntities" api='vm.api' on-ready="vm.chartCallback"></nvd3>
      </div>
      <md-content flex='25' flex-md="100" flex-sm="100">
        <md-list class='entities-list' flex>
          <md-list-item class="entities-list-top-bar">
            <div class="md-avatar" style='background-color:#eee' ng-click='vm.toggleAll()' ng-class='vm.stackedSelected ? "selected" : ""' aria-label='Toggle all'></div>
            <p>
              <md-button ng-click='vm.toggleSort("key")'>Entidad</md-button>
            </p>
            <p class='align-right'>
              <md-button ng-click='vm.toggleSort(vm.chartService.modes[vm.chartService.mode].sort)'>{{vm.chartService.modes[vm.chartService.mode].label}}</md-button>
            </p>
          </md-list-item>
          <md-divider></md-divider>
          <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="50">
            <md-list-item ng-repeat='entity in vm.dataset |orderBy:vm.tableSortOrder+vm.tableSort' ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{bred: hover}" ng-cloak >
              <div class="md-avatar" style='background:{{hover ? "white" : entity.color}}' ng-click='vm.toggleOne(entity)' ng-class='entity.selected ? "selected" : ""' aria-label='entity.key' ng-dblclick='vm.viewOne(entity)'>
              </div>
              <p>
                <a ng-href='#/entidad/{{entity.key | urlEncode}}' class='plain-link'>
                  <span ng-hide="hover">
                    {{ entity.key }}
                  </span>
                  <span ng-show="hover" class="cwhite">
                    {{ vm.committed[entity.key] }}%
                    del ingreso comprometido en deuda
                  </span>
                </a>
              </p>
              <p class='align-right' ng-hide="hover">
                {{ vm.tableFigure(entity) }}
              </p>
            </md-list-item>
          </perfect-scrollbar>
        </md-list>
      </md-content>
    </div>
</section>
<section class="content-block">
  <div class="container container-lg">
    <h1 class="main-title"><strong class="italic">Conoce las administraciones estatales que más han endeudado a sus estados</strong></h1>
    <div layout="row" layout-wrap layout-align="space-between">
      <div flex="45" flex-md="100" flex-sm="100" class="text-content">
        <p>De acuerdo a datos de la deuda estatal de la Secretaría de Hacienda y Crédito Público, analizados y presentados en un micrositio interactivo, por EL UNIVERSAL, 9 de las 10 administraciones que más han endeudado a sus estados en los últimos 23 años provienen del PRI.</p>
        <p>Para poder comparar los gobiernos de cada estado, calculamos la deuda per cápita y porcentaje del producto interno bruto usando datos de hacienda e INEGI desde 1993 hasta el final del 2015. </p>
        <p>En nuestro micrositio interactivo se puede visualizar un comparativo de estos gobiernos por tres categorías: deuda per cápita, deuda del % del producto interno bruto y deuda en millones de pesos. </p>
        <p>La lista de los que más incrementaron la deuda per cápita está plagada de gobernadores controversiales. En primer lugar, tenemos a Jorge Torres López (Coahuila) quien incrementó la deuda aproximadamente en $9,112.80 para cada coahuilense. Actualmente el ex-gobernador (interino delegado por Humberto Moreira) tiene una orden de extradición de los Estados Unidos y se considera uno de los más buscados de la DEA, acusado de lavado de dinero relacionado con la deuda de Coahuila. </p>
        <p>En la lista de los que más han endeudado también aparecen tres gobiernos que serán renovados este 5 de junio 2016. Son los casos de: Chihuahua, Quintana Roo y Zacatecas, cuyos gobernadores aparecen en la segunda, cuarta y quinta posición respectivamente. En estos tres estados se esperan elecciones reñidas que podrían traer alternancias al poder entre reclamos por los procesos de endeudamiento. </p>
        <p>En el tercer lugar de la lista aparece Rodrigo Medina de la Cruz, ex-gobernante del PRI en Nuevo León, quien cedió el poder el año pasado al candidato independiente Jaime Rodríguez Calderón, “El Bronco”. El fiscal anticorrupción de “El Bronco” ha confirmado que hay averiguaciones previas penales abiertas en torno a posibles actos de corrupción en la administración de Rodrigo Mena que podrían involucrar al propio ex-gobernador. </p>
      </div>
      <div flex="45" flex-md="100" flex-sm="100" class="text-content">
        <p>Quintana Roo y Nuevo León son las dos únicas entidades que tienen más de un gobernador en esta lista. En Quintana Roo la dupla Félix González Canto-Roberto Borge dejó a cada quintanarroense con aproximadamente 13 mil pesos adicionales de deuda, lo cual convirtió al ciudadano de Quintana Roo en el más endeudado a nivel nacional por habitante. </p>
        <p>En Nuevo León, José Natividad González Parás y Rodrigo Medina de la Cruz incrementaron la deuda en sus estados más de 10 mil pesos por persona. Hoy en día la deuda estatal distribuida por cada nuevoleonense asciende a $12,468 pesos, lo cual los convierte en el tercer estado más endeudado per cápita en el país. </p>
        <p>El único gobernador que no es del PRI de esta lista es Juan Sabines Guerrero, quien fue gobernador de Chiapas del 2006 al 2012 postulado por una coalición de partidos encabezada por el PRD. Actualmente el ex-gobernador ocupa el puesto de cónsul diplomático en Orlando (Florida) en la Unión Americana. </p>
        <p>La deuda del gobernador Sabines es más significativa si ordenamos la lista de administraciones por cuanto incrementaron la deuda como porcentaje del producto interno bruto, donde aparece en segundo lugar. Chiapas es un estado profundamente marcado por la pobreza y la desigualdad y eso se refleja en este rubro: es la cuarta entidad con más deuda como porcentaje del producto interno bruto estatal. </p>
      </di  v>
    </div>
</section>
<section class="content-block">
  <div class="content-block content-block-alt">
    <div class="container container-lg">
      <h1 class="main-title"><strong class="italic">Gobernadores | #Conocetudeuda</strong></h1>
      <h2 class="center-content">Ordenada por
      <span ng-if='vm.admonSort === "-deltaDebt" || vm.admonSort === "deltaDebt"'>cuanto cambio la deuda en total</span>
      <span ng-if='vm.admonSort === "-deltaDebtPerCapita" || vm.admonSort === "deltaDebtPerCapita"'>cuanto cambio la deuda per capita</span>
      <span ng-if='vm.admonSort === "-deltaDebtgdp" || vm.admonSort === "deltaDebtgdp"'>cuanto cambio la deuda representada como % del producto interno bruto estatal</span>
      </h2>
      <div class="filter-bar-icons" layout="row">
        <div flex="100">
          <md-button class="md-icon-button" aria-label="Deuda per capita" ng-click='vm.admonSort = "-deltaDebtPerCapita"' ng-disabled='vm.admonSort === "-deltaDebtPerCapita" || vm.admonSort === "deltaDebtPerCapita"'>
            <md-tooltip md-direction="top">
              Ordernar por deuda per capita
            </md-tooltip>
            <ng-md-icon icon="perm_identity"></ng-md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Deuda como % del PIBE" ng-click='vm.admonSort = "-deltaDebtgdp"' ng-disabled='vm.admonSort === "-deltaDebtgdp" || vm.admonSort === "deltaDebtgdp"'>
            <md-tooltip md-direction="top">
              Ordernar por deuda como % del PIB estatal
            </md-tooltip>
            <ng-md-icon icon="business"></ng-md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Deuda por monto" ng-click='vm.admonSort = "-deltaDebt"' ng-disabled='vm.admonSort === "-deltaDebt" || vm.admonSort === "deltaDebt"'>
            <md-tooltip md-direction="top">
              Ordernar por deuda por monto
            </md-tooltip>
            <ng-md-icon icon="attach_money"></ng-md-icon>
          </md-button>
          <span>|</span>
          <md-button class="md-icon-button" aria-label="Deuda por monto" ng-click='vm.sortByFilter(vn.admonSort)'>
            <md-tooltip md-direction="top">
              ASC-DESC
            </md-tooltip>
            <ng-md-icon icon="swap_vert"></ng-md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <ul class="governors-list">
    <li layout="row" layout-wrap layout-align="start center" ng-repeat="admon in vm.filtered = (vm.admons | filter :  vm.filterAdmon) | orderBy:vm.admonSort | limitTo: vm.admonLimit" class="governor-item">
      <div class="content-block-alt" flex="100">
        <div class="container container-lg" layout="row">
          <div layout="row" layour-align="center center" class="relative">
            <div>
              <div class="governor-index">{{$index+1}}</div>
              <div class="governor-team">{{admon.party}}</div>
            </div>
            <!--
            <div class="percent-circle party-circle" ng-class='vm.getPartyClass(admon.party)'><span>{{admon.party}}</span></div>
            -->
            <img ng-click="admon.isActive = !admon.isActive" class="percent-circle party-circle governor-circle-avatar" ng-class='vm.getPartyClass(admon.party)' ng-src='{{admon.local_picture || "pictures/placeholder.png"}}'>
            </img>
            <div class="percent-circle floating" ng-class='vm.getLevelClass(admon.deltaDebtgdp)' hide-gt-sm><span>{{admon.deltaDebtgdp | number : 2}}%</span></div>
          </div>
          <div ng-click="admon.isActive = !admon.isActive" class="governor-item-data" flex flex-md="60" flex-sm="60">
            <p><strong>{{admon.governor}} (<a ng-href='#/entidad/{{vm.findEntity(admon.entity).key | urlEncode}}' >{{vm.findEntity(admon.entity).key}}</a>)</strong></p>
            <p class="dates">{{admon.start | date}} - {{admon.end | date}} </p>
            <p><span class="italic">
            <span ng-if='admon.deltaDebt > 0'>Incrementó</span>
              <span ng-if='admon.deltaDebt < 0'>Disminuyó</span> la deuda aproximadamente <strong>{{admon.deltaDebt | currency }}</strong> MDP ó <strong>{{admon.deltaDebtPerCapita | currency}}</strong> pesos por persona. Esto representa el <strong>{{admon.deltaDebtgdp | number : 2}}%</strong> del producto interno bruto de la entidad.
              </span>
            </p>
          </div>
          <div flex="10" hide-sm>
            <div class="percent-circle" ng-class='vm.getLevelClass(admon.deltaDebtgdp)'><span>{{admon.deltaDebtgdp | number : 2}}%</span></div>
          </div>
          <!-- <div flex="35" flex-md="100" flex-sm="100" class="social-links">
            <a href="#" class="social-circle social-circle-tw">
              <i class="icon-twitter"></i>
            </a>
            <a href="#" class="social-circle social-circle-fb">
              <i class="icon-facebook2"></i>
            </a>
          </div> -->
        </div>
      </div>
      <!--INNER TABLE-->
      <!--
      <div ng-show="admon.isActive" flex="100" class="content-block detailed-list">
        <div class="container container-lg">
          <h4>LISTA DETALLADA | <span>Lorem Ipsum</span></h4>
          <table>
            <thead>
              <tr>
                <td>Acreditado</td>
                <td>Gobernador</td>
                <td>Destino</td>
                <td>Fecha de firma</td>
                <td>Monto($)</td>
                <td>Saldo($)</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.detailedListData track by $index">
                <td>{{row.acreditado}}</td>
                <td>{{row.gobernador}}</td>
                <td>{{row.destino}}</td>
                <td>{{row.fecha}}</td>
                <td>{{row.monto}}</td>
                <td>{{row.saldo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      -->
      <!--END INNER TABLE-->
    </li>
  </ul>
  <div class="content-block content-block-alt">
    <div class="container container-lg">
      <div layout="column" ng-show="vm.admonLimit < vm.filtered.length" class="entities-list" flex="100" layout-align="center center">
        <a class="entities-list-top-bar" ng-click="vm.admonLimit = vm.admonLimit + 10" flex="50" layout-padding>
          Cargar más
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content-block credits-block">
  <div class="container container-lg center-content">
    <h1>CRÉDITOS</h1>
    <br>
    <div class="credit">
      <p><strong>Coordinación</strong></p>
      <p>Lilia Saúl, Editora Periodismo de Datos <strong>EL UNIVERSAL de México</strong></p>
    </div>
    <div class="credit">
      <p><strong>Textos e investigación</strong></p>
      <p>Lilia Saúl / Salvador Barrón / Eduardo Buendía</p>
    </div>
    <div class="credit">
      <p><strong>Análisis de Datos</strong></p>
      <p>Salvador Barrón</p>
    </div>
    <div class="credit">
      <p><strong>Visualización de Datos</strong></p>
      <p>Spaceshiplabs</p>
    </div>
    <div class="credit">
      <p><strong>Desarrollo y Diseño Web</strong></p>
      <p>Spaceshiplabs</p>
    </div>
    <p>Escríbenos un correo a: <strong><a href="mailto:periodismodatos@eluniversal.com.mx">periodismodatos@eluniversal.com.mx</a></strong></p>
    <div class="credits-logo">
      <a target="_blank" href="http://www.eluniversal.com.mx/">
        <img src="images/Logo2.png" alt="">
      </a>
    </div>
    <p class="credits-bottom-text">Este reportaje fue realizado por <strong>Lilia Saúl, Salvador Barrón y Eduardo Buendía</strong> en el marco de la Iniciativa para el Periodismo de Investigación en las Américas del International Center for Journalists (ICFJ) en alianza con CONNECTAS.</p>
  </div>
</section>
<ng-include src="'views/partials/footer.html'"></ng-include>
